.pre{
    white-space: pre-line;
}

.card-status{
    background-color: greenyellow;
    color: white;
    display: inline-block;
}

.card-type{
    background-color: blue;
    color: white;
    display: inline-block;
}

.pagination {
    text-align: center;
    display: block;
}

#label-search{
    color: white;
}

#center{
    text-align: center;
}

.users{
    text-transform: capitalize;
}